<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ball Players Oauth</title>
    <style>
      nav ul {
        list-style-type: none;
        display: flex;
        gap: 1rem;
      }

      nav a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/auth/login">Login</a>
        </li>
        <li>
          <a href="/auth/logout">Log-Out</a>
        </li>
        <li>
          <a href="/">Homepage</a>
        </li>
      </ul>
    </nav>
    <header>
        <h1></h1>
        <h2></h2>
    </header>
    <main>
        <p></p>
    </main>
  </body>
</html>
